[submodule "python-bitshares"]
	path = python-bitshares
	url = https://github.com/bitshares/python-bitshares
[submodule "python-graphenelib"]
	path = python-graphenelib
	url = https://github.com/xeroc/python-graphenelib.git
[submodule "python-delimitedfile"]
	path = python-delimitedfile
	url = https://github.com/Community-Maintenance/python-delimitedfile.git
[submodule "data/CNY-BTS"]
	path = data/CNY-BTS
	url = ./data/CNY-BTS
	datalad-id = ee1625a3-d6df-4abc-a1c4-7f242ea0e03b
[submodule "data/BPSCX-BTS"]
	path = data/BPSCX-BTS
	url = ./data/BPSCX-BTS
	datalad-id = 86fbf309-c8ae-4301-b958-46de953302b0
