[submodule "python-bitshares"]
	path = python-bitshares
	url = https://github.com/bitshares/python-bitshares
[submodule "python-graphenelib"]
	path = python-graphenelib
	url = https://github.com/xeroc/python-graphenelib.git
[submodule "python-delimitedfile"]
	path = python-delimitedfile
	url = https://github.com/Community-Maintenance/python-delimitedfile.git
[submodule "data/BTS-BTC"]
	path = data/BTS-BTC
	url = ./data/BTS-BTC
	datalad-id = e9f875e2-1292-4484-bd69-4786e1dd24fb
